- title "Plattform"

= @plattform.name
%p
  = raw RedCloth.new(@plattform.description).to_html
%h2 here you see all submissions for 
=@plattform.name
.submission_entries
  - @submissions.each do |submission|
    = render :partial => "submissions/submission_teaser", :object => submission
- if can? :manage, Plattform
  %p
    = link_to "Edit", edit_plattform_path(@plattform)
    |
    = link_to "Destroy", @plattform, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", plattforms_path
