- title "Plattform"

= @plattform.name
= @plattform.shortname
%p
  = raw RedCloth.new(@plattform.description).to_html

-if can? :manage, Plattform
  %p
    = link_to "Edit", edit_plattform_path(@plattform)
    |
    = link_to "Destroy", @plattform, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", plattforms_path
