= form_for @submission, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
    = f.label :category_id
    = collection_select(:submission, :category_id, Category.all, :id, :name, {:prompt => false})
    = f.label :plattform_id
    = collection_select(:submission, :plattform_id, Plattform.all, :id, :name, {:prompt => false})
  %p
    = f.label :description
    %br
    = f.text_area :description, :size => "90x5"
  %p
    Please add some screenshots of the application.
    = f.fields_for :screenshots do |screenshot|
      .foo
        = screenshot.file_field :image
  %p
    If you have some binary or installable file you can upload it as artefact.
    .foo
      = f.file_field :artefact
  %p
    If there is some external url please tell us.
    .foo
      = f.text_field :url
  %p
    = f.submit

  = link_to "Delete this submission", @submission, :confirm => 'Are you sure?', :method => :delete
