.submission
  %h2
    = link_to small_sub.title, submission_path(small_sub)
  .meta
    = "submitted by: #{small_sub.user.display_name}"
    = "on "
    = small_sub.created_at.strftime("%e-%b-%Y")
    = "for platform: " 
    = link_to small_sub.platform.name, platform_path(small_sub.platform)
    = "in category: "
    = link_to small_sub.category.name, category_path(small_sub.category)
  .abstract
    = raw RedCloth.new(small_sub.abstract).to_html unless small_sub.abstract.nil?
    - if small_sub.url? or small_sub.artefact.exists?
      %ul
        - if small_sub.url? 
          %li= link_to "visit external url", small_sub.url, :target => :blank
        - if small_sub.artefact.exists?
          %li= link_to "download", small_sub.artefact.url 

  .screenshots
    - small_sub.screenshots.each do |screenshot|
      =link_to(image_tag(screenshot.image.url(:thumb)),screenshot.image.url(:large),{:class => "lightbox",:rel => "lightbox_submission#{small_sub.id}"})
  .description
    = raw RedCloth.new(small_sub.description).to_html unless small_sub.description.nil?
  %br
  - if current_user 
    - if small_sub.user == current_user or current_user.admin?
      %ul
        %li= link_to "edit", edit_submission_path(small_sub)  
