.submission
  %h2
    = small_sub.title 
    - if small_sub.url 
      = link_to 'more', small_sub.url, :target => :blank
  - email = small_sub.user.email
  = "done by #{email.split('@')[0]}@***.#{email.split('.').last}"

  = link_to small_sub.plattform.name, plattform_path(small_sub.plattform)
  = link_to small_sub.category.name, category_path(small_sub.category)
  .description
    = small_sub.description
  .screenshots
    - small_sub.screenshots.each do |screenshot|
      = image_tag screenshot.image.url(:thumb)

  - if current_user 
    - if small_sub.user == current_user or current_user.admin?
      %ul
        %li= link_to "edit", edit_submission_path(small_sub)
        %li= link_to "download artefact", small_sub.artefact.url

