!!!
%html
  %head
    %title Contest
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Coda:800'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Syncopate'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.lightbox-0.5.pack'
  %body
    .head.clickable{ :url => "/" }
      %h1
        transmediale 11 art effect 
      .loginbox
        - if user_signed_in?
          = current_user.email
          = link_to "Sign out", destroy_user_session_path
          .subs
            - if current_user.submissions
              you have #{current_user.submissions.size} submissions
              = link_to "add more", new_submission_path
            - else 
              = link_to "add a submission", new_submission_path
        - else
          = link_to "Sign up", new_user_registration_path
          = link_to "Sign in", new_user_session_path
      .categories
        %ul
          %li 
            = link_to "all submissions", submissions_path
    -if flash[:alert] || flash[:warning] || flash[:notice]
      #notices
        .alert
          =flash[:alert]
        .warning
          =flash[:warning]
        .notice
          =flash[:notice]
    #container
      = yield
