!!!
%html
  %head
    %title Contest
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Coda:800'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Syncopate'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .head
      %h1
        transmediale 11 art effect contest
      .loginbox
        - if user_signed_in?
          = current_user.email
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          = link_to "Sign in", new_user_session_path
      .categories
        %ul
          - Category.all.each do |cat|
            %li 
              = link_to cat.name, category_path(cat)
    = yield
